@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary: #D7505D;
    --white: #faffff;
    --dark: #242424;
  }

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding: 10px 0px;
    color: white;
    text-align: center;
    max-width: 1600px;
    margin: auto;
}

.header img {
    height: 50px;
}

.header .lab-name {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    flex-grow: 1;
    color: white;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
}

.lab-name-mobile{
    display: none;
}

.lab-name span{
    display: inline-block;
}

.lab-name span::first-letter {
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: 500;
}

.second-letter{
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
}

.school-logo{
    scale: 0.55;
}

.lab-logo{
    scale: 0.42;
}

.lab-logo:hover{
    cursor: pointer;
}

.navbar {
    background-color: var(--dark);
    text-align: center;
    padding: 10px 0px 10px 0px;
    max-width: 1600px;
    margin: auto;
    align-self: center;
    justify-self: center;
}

.navbar-brand, .nav-link {
    color: white;
}

.nav-link-selected {
    color: var(--primary);
    font-weight: 500 !important;
}

.navbar .nav-link {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 15px;
    padding: 0px 60px !important;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: var(--primary); /* Match the button hover color */
}

.carousel-item img {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    max-height: 100vh;
    max-width: 1600px;
}
.carousel-caption {
    position: static;
    /* margin-top: 100px; */
    /* text-align: center; */
    background-color: var(--dark);
    color: white;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 20px;
}

.carousel-caption h5 {
    margin: 6px 0;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    margin: 0 !important;
    padding: 0 !important;
}

.carousel-control-prev,
.carousel-control-next {
    justify-content: none;
    margin: auto;
}

.title{
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.title::first-letter {
    font-size: 2rem;
    font-weight: 500;
}

.research-areas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -15px 0 50px 0;
}

.research-area {
    flex: 1;
    margin: 0 15px;
    padding: 30px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.research-area img {
    width: 50%; /* Reduce image width */
    height: auto; /* Maintain aspect ratio */
    max-height: 120px; /* Limit the height */
    object-fit: contain; /* Ensure the image scales without cropping */
    border-radius: 8px;
}
.research-area h3{
    font-weight: 400;
    font-size: 1.8rem;
    padding: 25px 0;
    margin: 5px 0;
}
.research-area p{
    text-align: justify;
    margin: 5px 0;
}
.research-area:hover {
    transform: translateY(-5px);
}
.research-area .btn {
    margin: 30px 0 15px 0;
    background-color: var(--primary); /* Primary button color */
    color: white;
    padding: 10px 30px;
    font-family: "Poppins", serif;
    font-size: 1rem;
    border: none;
    border-radius: 3px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.research-area .btn:hover {
    background-color: var(--primary); /* Darker shade on hover */
    transform: translateY(-3px); /* Slight lift effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    color: var(--white);
}
.highlight-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.highlight-caption {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1024px) {
    .navbar .nav-link {
        padding: 0px 30px !important;
    }

    .carousel-item img {
        height: 350px;
    }

    .carousel-caption h5{
        width: 80%;
        margin: auto;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .header img {
        height: 40px;
    }

    .navbar .nav-link {
        font-size: 1rem;
        width: 100%;
        text-align: start;
        padding: 15px 50px !important;
    }

    .header .lab-name {
        font-size: 1.2rem;
    }
    .carousel-item img {
        height: 100%;
    }
    .highlight-caption {
        font-size: 1.2rem;
    }
    .carousel {
        height: 350px; /* Adjust height for smaller screens */
    }

    .carousel-item img {
        width: 100%;
    }

    .carousel-item img {
        height: 300px !important;
    }

    .carousel-caption h5{
        width: 80%;
        margin: auto;
        font-size: 1rem !important; /* Reduce heading size */
        padding: 20px;
    }

    .carousel-caption {
        font-size: 0.5rem; /* Adjust font size for smaller screens */
        padding: 2px;
    }
    .research-areas {
        flex-direction: column;
        gap: 20px;
    }

    .research-area img {
        width: 100%; /* Adjust width for smaller screens */
        height: 100px;
    }

    .lab-name{
        display: none;
    }

    .lab-name-mobile{
        display: inline-block;
        color: var(--primary);
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 10px;
        word-spacing: 20px;
        text-transform: uppercase;
    }

    .header a{
        width: 20%;
    }

    footer {
        font-size: 10px;
    }
}

@media (max-width: 430px) {

    .header a{
        width: 35%;
    }

    .lab-name-mobile{
        font-size: 18px;
    }

    .navbar .nav-link {
        padding: 15px 50px !important;
    }

    .carousel {
        height: 200px; /* Adjust height for smaller screens */
    }

    .carousel-item img {
        height: 150px !important;
    }

    .carousel-caption h5{
        width: 95%;
        margin: auto;
        font-size: 12px !important; /* Reduce heading size */
        padding: 20px;
        /* text-align: justify; */
    }
}