@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* --dark: #161616; */
    --dark: #1A1A1A;
    /* --light: #EEF8FF; */
    --light: #f8f8f8;
    /* --primary: #FF5453; */
    --primary: #ff3366;
    /* --primary: #d64f5d; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--dark);
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    /* letter-spacing: 7px; */
}

.logo span{
    color: var(--primary);
}

.logo:hover{
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.nav-links a {
    color: var(--light);
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    margin: 0 10px;
}

.nav-links a:hover {
    color: var(--primary);
    transition: 0.3s;
}

.neu-logo-container{
    width: 124px;
    height: 40px;
}

.neu-logo{
    width: 124px;
    height: 40px;
}

.neu-logo-mobile{
    display: none;
    width: 48px;
    height: 35px;
}

.hamburger-container{
    display: none;
    width: 60px;
}

.hamburger{
    display: none;
}

.active {
    color: var(--primary) !important;
}

.hero {
    width: 100%;
    height: 80dvh;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images\\pexels-pixabay-159304.jpg');
    background-size: cover;
    background-position: center;
    border-top: 5px solid var(--light);
    border-bottom: 5px solid var(--light);
}

.hero h1 {
    margin: auto;
    width: 50%;
    color: var(--light);
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
}

.hero h1 span {
    display: block;
}

.learn-more {
    display: inline-block;
    color: var(--primary);
    text-decoration: none;
    border: 1px solid var(--primary);
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 100px;
    font-style: italic;
    font-size: 20px;
}

.learn-more:hover{
    cursor: pointer;
    background-color: var(--primary);
    transition: 0.5s;
    color: var(--light);
    color: var(--light);
    transition: 0.2s;
}

.arrow{
    display: flex;
    width: 100%;
    justify-content: center;
    /* justify-items: center; */
    margin: 15px 0 15px 0;
}

.arrow img{
    transform: rotate(90deg);
}

.arrow img:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}

.about {
    height: 100dvh;
    background-color: var(--dark);
    padding: 6rem 0;
    position: relative;
}

.about-container {
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    color: var(--light);
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
    margin: 80px auto;
}

.highlight {
    color: var(--primary);
}

.divider {
    width: 50%;
    height: 1px;
    background-color: var(--light);
    margin: 50px auto;
}

.description {
    width: 100%;
    color: var(--light);
    font-size: 25px;
    font-style: italic;
    line-height: 1.8;
    font-weight: 300;
    opacity: 0.8;
    max-width: 80%;
    margin: 10px auto 100px auto;
}

.footer {
    background-color: var(--light);
    padding: 2rem 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.footer-left {
    flex: 1;
}

.footer-logo {
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.footer-logo span{
    color: var(--primary);
}

.taglines h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: var(--dark);
}

.copyright {
    margin-top: 2rem;
    color: var(--dark);
    font-size: 0.9rem;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

.subscribe {
    text-align: right;
    margin-bottom: 1rem;
    font-size: 20px;
}

.subscribe-text {
    color: var(--primary);
    margin-right: 0.5rem;
}

.subscribe-subtext {
    color: var(--dark);
}

.email-signup {
    display: flex;
    gap: 10px;
    /* margin-bottom: 2rem; */
}

.email-signup input {
    padding: 0.8rem 1rem;
    border: 1px solid var(--dark);
    border-radius: 4px;
    width: 500px;
}

.sign-up {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-links a {
    color: var(--dark);
    font-size: 22px;
}

.social-links a:hover {
    color: var(--primary);
}


@media (max-width: 600px) {
    .navbar {
        padding: 1rem 1rem;
        justify-content: space-between;
    }
    .logo{
        font-size: 18px;
    }
    .nav-links{
        display: none;
    }
    .neu-logo-container{
        width: 48px;
        height: 35px;
    }
    .neu-logo{
        display: none;
    }
    .neu-logo-mobile{
        display: none;
    }
    .hamburger-container{
        width: 50px;
        height: 35px;
        display: block;
        background-color: var(--primary);
        border-radius: 2px;
        display: block;
        align-content: center;
        justify-items: center;
    }
    .hamburger-line{
        width: 35px;
        height: 2px;
        background-color: var(--light);
        margin: 6px 0;
    }
    .hero h1 {
        font-size: 40px;
        width: 100%;
        text-align: start;
        padding: 25px;
    }
    .arrow{
        margin: 40px 0 15px 0;
    }
    .about {
        padding: 3rem 0;
        position: relative;
    }
    .about h2 {
        font-size: 30px;
        font-weight: 300;
        margin: 80px auto;
    }
    .description {
        font-size: 22px;
        font-style: italic;
        line-height: 2;
        font-weight: 200;
        max-width: 80%;
        margin: 10px auto 100px auto;
        text-align: justify;
    }
    .divider {
        width: 80%;
    }
    .taglines{
        display: none;
    }
    .footer{
        padding: 1rem 1rem;
    }
    .footer-logo {
        font-size: 30px;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    .footer-content{
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-left {
        flex: 1;
    }
    .footer-right {
        gap: 1rem;
    }
    .subscribe {
        text-align: right;
        margin: 0;
        font-size: 16px;
    }
    .sign-up {
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 4px;
        cursor: pointer;
    }
    .email-signup input {
        padding: 0.8rem 1rem;
        border: 1px solid var(--dark);
        border-radius: 4px;
        width: 250px;
        margin: auto;
    }
    .social-links {
        gap: 3rem;
        align-self: center;
        margin: 20px 0 10px 0;
    }
    .copyright{
        display: none;
    }
    .copyright-mobile{
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin: auto;
    }
  }