@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #D7505D;
    --white: #faffff;
    --dark: #242424;
  }

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding: 10px 0px;
    color: white;
    text-align: center;
    max-width: 1600px;
    margin: auto;
}

.header img {
    height: 50px;
}

.header .lab-name {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    flex-grow: 1;
    color: white;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
}

.lab-name span{
    display: inline-block;
}

.lab-name span::first-letter {
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: 500;
}

.second-letter{
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
}

.school-logo{
    scale: 0.55;
}

.lab-logo{
    scale: 0.42;
}

.navbar {
    background-color: var(--dark);
    text-align: center;
    padding: 10px 0px 20px 0px;
    max-width: 1600px;
    margin: auto;
    align-self: center;
    justify-self: center;
}

.navbar-brand, .nav-link {
    color: white;
}

.nav-link-selected {
    color: var(--primary);
    font-weight: 500 !important;
}

.navbar .nav-link {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 15px;
    padding: 0px 60px !important;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: var(--primary); /* Match the button hover color */
}

.text-center{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.category-header {
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0 20px;
    text-align: left;
    color: var(--dark);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.category-header::first-letter {
    font-size: 40px;
}

.project {
    display: flex;
    /* align-items: center; */
    margin-bottom: 40px;
    max-width: 1600px;
    /* margin: 20px auto; */
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 35%;
    object-fit: contain;
    border-radius: 5px;
    max-height: 350px;
    border: 2px solid #555;
    padding: 5px;
}

.project-details {
    display: grid;
    flex: 1;
    padding: 0 0 0 30px;
}

.project-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary);
    justify-self: flex-start;
}

.project-description {
    font-size: 1rem;
    /* margin: 10px 0; */
    text-align: justify;
    letter-spacing: 1px;
}

.project-publications {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark);
    align-self: flex-end;
}

.project-publications a {
    color: var(--primary);
    text-decoration: none;
}

.project-publications a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header img {
        height: 40px;
    }

    .navbar .nav-link {
        font-size: 1rem;
    }

    .header .lab-name {
        font-size: 1.2rem;
    }
    .carousel-item img {
        height: 100%;
        max-height: 150px;
    }
    .highlight-caption {
        font-size: 1.2rem;
    }
    .carousel {
        height: 100px; /* Adjust height for smaller screens */
    }
    .carousel-caption {
        font-size: 0.5rem; /* Adjust font size for smaller screens */
        padding: 2px;
    }
    .carousel-caption h5 {
        font-size: 0.5rem !important; /* Reduce heading size */
    }
    .research-areas {
        flex-direction: column;
        gap: 20px;
    }

    .research-area img {
        width: 100%; /* Adjust width for smaller screens */
        height: 100px;
    }
    .project {
        flex-direction: column;
        text-align: center;
    }

    .project img {
        width: 100%;
        margin-bottom: 15px;
    }

    .project-details {
        margin-left: 0;
        padding: 0;
    }

    .category-header {
        text-align: center;
    }
}