@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #D7505D;
    --white: #faffff;
    --dark: #242424;
  }

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding: 10px 0px;
    color: white;
    text-align: center;
    max-width: 1600px;
    margin: auto;
}

.header img {
    height: 50px;
}

.header .lab-name {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    flex-grow: 1;
    color: white;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
}

.lab-name-mobile{
    display: none;
}

.lab-name span{
    display: inline-block;
}

.lab-name span::first-letter {
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: 500;
}

.second-letter{
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
}

.school-logo{
    scale: 0.55;
}

.lab-logo{
    scale: 0.42;
}

.navbar {
    background-color: var(--dark);
    text-align: center;
    padding: 10px 0px 10px 0px;
    max-width: 1600px;
    margin: auto;
    align-self: center;
    justify-self: center;
}

.navbar-brand, .nav-link {
    color: white;
}

.nav-link-selected {
    color: var(--primary);
    font-weight: 500 !important;
}

.navbar .nav-link {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 15px;
    padding: 0px 60px !important;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: var(--primary); /* Match the button hover color */
}

.text-center{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

footer {
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.category-header {
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0 20px;
    text-align: left;
    color: var(--dark);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.category-header::first-letter {
    font-size: 40px;
}

.publication {
    margin-bottom: 20px;
    padding: 20px 15px 20px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publication-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publication-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
    justify-self: flex-start;
}

.publication-title-year{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
    justify-self: flex-start;
}

.publication-details {
    font-size: 1rem;
    margin: 10px 0;
    text-align: justify;
}

.publication-authors {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px 0;
    font-style: italic;
}

.publication-links {
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.publication-links a {
    color: var(--primary);
    text-decoration: none;
}

.publication-links a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .navbar .nav-link {
        padding: 0px 30px !important;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .header img {
        height: 40px;
    }

    .navbar .nav-link {
        font-size: 1rem;
        width: 100%;
        text-align: start;
        padding: 15px 50px !important;
    }

    .header .lab-name {
        font-size: 1.2rem;
    }
    .carousel-item img {
        height: 100%;
        max-height: 150px;
    }
    .highlight-caption {
        font-size: 1.2rem;
    }
    .carousel {
        height: 100px; /* Adjust height for smaller screens */
    }
    .carousel-caption {
        font-size: 0.5rem; /* Adjust font size for smaller screens */
        padding: 2px;
    }
    .carousel-caption h5 {
        font-size: 0.5rem !important; /* Reduce heading size */
    }
    .research-areas {
        flex-direction: column;
        gap: 20px;
    }

    .research-area img {
        width: 100%; /* Adjust width for smaller screens */
        height: 100px;
    }
    .category-header {
        text-align: center;
    }
    
    .publication {
        margin: 10px;
        padding: 15px;
        margin-bottom: 30px;
    }

    .publication-title{
        width: 80%;
    }
    
    .category-header {
        text-align: center;
        font-size: 23px;
    }
    .lab-name{
        display: none;
    }

    .lab-name-mobile{
        display: inline-block;
        color: var(--primary);
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 10px;
        word-spacing: 20px;
        text-transform: uppercase;
    }
    .header a{
        width: 20%;
    }
    footer {
        font-size: 10px;
    }
}

@media (max-width: 430px) {

    .header a{
        width: 35% !important;
    }

    .navbar .nav-link {
        padding: 15px 50px !important;
    }

    .lab-name-mobile{
        font-size: 18px;
    }

    .publication-title-container {
        flex-direction: column;
    }

    .publication-title{
        margin-bottom: 10px;
        width: 100%;
        font-size: 18px;
    }

    .publication-title-year{
        font-size: 18px;
    }
}